/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*:focus {
	outline: none;
}

/* ________________________ */

@import 'variables';

body {

  height: 100vh;
	width: 100vw;

	font-family: "Helvetica";
	font-weight: 100;

}

#contents {

	height: 100%;
	width: 100%;

}

#app {

	height: 100%;
	width: 100%;

}

h1 {

	font-size: 1.5rem;
	letter-spacing: 0.1rem;

}

button, .button {

	padding: 12px 9px;
	padding-top: 6px;

	background: $tertiary-color;
	border: #707070;
	border-radius: 4px;

	font-size: 0.9rem;
	letter-spacing: 0.1rem;

	filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.502));

	transition: all 0.1s ease;

  &:hover:enabled {
		background-color: darken($tertiary-color, 10%);
	}

	&:active:enabled {
  background-color: darken($tertiary-color, 20%);
	transform: translateY(1px);
	filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.502));
	}
}

.display-linebreak {
  white-space: pre-line;
}

.modal-veil{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
	width: 100%;

	min-width: 800px;

  display:flex;
  justify-content: center;
	align-items: center;

	transition: all ease 0.3s;
  opacity: 1;
	background: rgba(0, 0, 0, 0.5);
	z-index: 3;

}
.modal-veil.hide {
	opacity: 0;
  pointer-events:none;
}

.h-box {
	display: flex;
	flex-flow: row nowrap;
}

.v-box {
	display: flex;
	flex-flow: column nowrap;
}

.react-select-container{

	.react-select__control{
		border-radius: 3px;
		border: 0.5px solid #979797;          
	}
	.react-select__single-value{
		padding: 2px;
	}
}

.dim {
	opacity: 0.2;
	transition: all ease 0.2s;
}

@import 'components/all';
@import 'containers/all';

